extends ../layout

block content
	.login-wrapper
		form(method="post" action="/login")
			p.form-input
				label(for="inputEmail") 邮箱
				input(type="text" id="inputEmail" name="user[email]" required)
			p.form-input
				label(for="inputPassword") 密码
				input(type="password" id="inputPassword" name="user[password]" required)
			p.form-input
				input(type="submit" value="提交")