extends ../layout

block content
	.form-wrapper
		h2.form-title 登录
		form(method="post" action="/login")
			//input(type="hidden" value="/movie/55067abacabe465018de70a3" name="redirectUrls")
			p.form-input
				label(for="inputEmail") 邮箱
				input(type="text" id="inputEmail" name="user[email]" required)
			p.form-input
				label(for="inputPassword") 密码
				input(type="password" id="inputPassword" name="user[password]" required)
			p.form-btn
				input(type="submit" id="loginSubmit" value="提交")
	script(type="text/javascript").
		"use strict";
		$('#loginSubmit').click(checkLogin);
		function checkLogin() {
			var user = {};
			var checkObj = {};
			user.email = $('#inputEmail').val();
			user.password = $('#inputPassword').val();

			if(!user.email || !user.password){
				alert("请完整输入邮箱和密码");
				return false;
			}
			$.ajax({
				type : "POST",
				async : false,
				url : "/login/checkLogin",
				dataType : "json",
				data : {
					user : user
				}
			})
			.done(function(data) {
				checkObj.ret = data.iRet;
				checkObj.msg = data.sMsg;
			})
			if(checkObj !== undefined){
				if(checkObj.ret !== 0){
					alert(checkObj.msg);
					return false;
				}
				return true;
			}
			alert('系统繁忙，请稍后再试！');
			return false;
		}